<div id="navigation">
    <div class="profile-picture">
        <img src="~/Images/emataLogo.png" height="75" width="75" />
    </div>

    <ul class="nav metismenu" id="side-menu">
        <li class="@Html.IsSelected(action: "Index")">
            <a href="@Url.Action("Index", "Main")"> <span class="nav-label">Overview</span>  </a>
        </li>
        <li class="@Html.IsSelected(action: "Index")">
            <a href="@Url.Action("Index", "Cars")"> <span class="nav-label">Operations</span> </a>
        </li>
        <li class="@Html.IsSelected(action: "Index")">
            <a href="@Url.Action("Index", "Heat")"> <span class="nav-label">Crowd Complains</span> </a>
        </li>
    </ul>
</div>